## Data Collection with API

In [1]:
import requests

url = "https://amazon-product-price-data.p.rapidapi.com/product"

querystring = {"asins":"B005YQZ1KE,B074R8RQQ2,B0BLW25MB7,B088N8TF64","locale":"US"}

headers = {
	"X-RapidAPI-Key": "e1863bc0d5mshf04242d4c393a90p1ee066jsn714267894e89",
	"X-RapidAPI-Host": "amazon-product-price-data.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)

print(response.json())

[{'asin': 'B0BLW25MB7', 'product_name': 'Lenovo IdeaPad 1 14 Laptop, 14.0\\" HD Display, Intel Celeron N4020, 4GB RAM, 64GB Storage, Intel UHD Graphics 600, Win 11 in S Mode, Cloud Grey', 'current_price': 151.0, 'is_prime': True, 'image_url': 'https://m.media-amazon.com/images/I/41ilN47kiFL.jpg', 'locale': 'US', 'currency_symbol': '$'}, {'asin': 'B088N8TF64', 'product_name': 'Apple iPhone SE (2nd Generation), 64GB, Red - Unlocked (Renewed)', 'current_price': 144.15, 'is_prime': True, 'image_url': 'https://m.media-amazon.com/images/I/31rSERJARAL.jpg', 'locale': 'US', 'currency_symbol': '$'}, {'asin': 'B005YQZ1KE', 'product_name': 'T-fal Initiatives Nonstick Cookware Set 18 Piece Oven Safe 350F Pots and Pans, Dishwasher Safe Black', 'current_price': 95.99, 'is_prime': True, 'image_url': 'https://m.media-amazon.com/images/I/41pLhSHcuAL.jpg', 'locale': 'US', 'currency_symbol': '$'}, {'asin': 'B074R8RQQ2', 'product_name': 'Maxracy 2 Set Peeler Silicone Easy Roll Tube Useful Garlic Odorfree Kitchen Tool (Red,Blue)', 'current_price': 6.59, 'is_prime': True, 'image_url': 'https://m.media-amazon.com/images/I/41EtHJCNHiL.jpg', 'locale': 'US', 'currency_symbol': '$'}]

In [2]:
data=response.json()
data

[{'asin': 'B0BLW25MB7',
  'product_name': 'Lenovo IdeaPad 1 14 Laptop, 14.0\\" HD Display, Intel Celeron N4020, 4GB RAM, 64GB Storage, Intel UHD Graphics 600, Win 11 in S Mode, Cloud Grey',
  'current_price': 151.0,
  'is_prime': True,
  'image_url': 'https://m.media-amazon.com/images/I/41ilN47kiFL.jpg',
  'locale': 'US',
  'currency_symbol': '$'},
 {'asin': 'B088N8TF64',
  'product_name': 'Apple iPhone SE (2nd Generation), 64GB, Red - Unlocked (Renewed)',
  'current_price': 144.15,
  'is_prime': True,
  'image_url': 'https://m.media-amazon.com/images/I/31rSERJARAL.jpg',
  'locale': 'US',
  'currency_symbol': '$'},
 {'asin': 'B005YQZ1KE',
  'product_name': 'T-fal Initiatives Nonstick Cookware Set 18 Piece Oven Safe 350F Pots and Pans, Dishwasher Safe Black',
  'current_price': 95.99,
  'is_prime': True,
  'image_url': 'https://m.media-amazon.com/images/I/41pLhSHcuAL.jpg',
  'locale': 'US',
  'currency_symbol': '$'},
 {'asin': 'B074R8RQQ2',
  'product_name': 'Maxracy 2 Set Peeler Silicone Easy Roll Tube Useful Garlic Odorfree Kitchen Tool (Red,Blue)',
  'current_price': 6.59,
  'is_prime': True,
  'image_url': 'https://m.media-amazon.com/images/I/41EtHJCNHiL.jpg',
  'locale': 'US',
  'currency_symbol': '$'}]

In [3]:
data[0]

{'asin': 'B0BLW25MB7',
 'product_name': 'Lenovo IdeaPad 1 14 Laptop, 14.0\\" HD Display, Intel Celeron N4020, 4GB RAM, 64GB Storage, Intel UHD Graphics 600, Win 11 in S Mode, Cloud Grey',
 'current_price': 151.0,
 'is_prime': True,
 'image_url': 'https://m.media-amazon.com/images/I/41ilN47kiFL.jpg',
 'locale': 'US',
 'currency_symbol': '$'}

In [4]:
data[0]['asin']

'B0BLW25MB7'

In [5]:
data[0]['current_price']

151.0

In [6]:
for i in data:
    print(i)

{'asin': 'B0BLW25MB7', 'product_name': 'Lenovo IdeaPad 1 14 Laptop, 14.0\\" HD Display, Intel Celeron N4020, 4GB RAM, 64GB Storage, Intel UHD Graphics 600, Win 11 in S Mode, Cloud Grey', 'current_price': 151.0, 'is_prime': True, 'image_url': 'https://m.media-amazon.com/images/I/41ilN47kiFL.jpg', 'locale': 'US', 'currency_symbol': '$'}
{'asin': 'B088N8TF64', 'product_name': 'Apple iPhone SE (2nd Generation), 64GB, Red - Unlocked (Renewed)', 'current_price': 144.15, 'is_prime': True, 'image_url': 'https://m.media-amazon.com/images/I/31rSERJARAL.jpg', 'locale': 'US', 'currency_symbol': '$'}
{'asin': 'B005YQZ1KE', 'product_name': 'T-fal Initiatives Nonstick Cookware Set 18 Piece Oven Safe 350F Pots and Pans, Dishwasher Safe Black', 'current_price': 95.99, 'is_prime': True, 'image_url': 'https://m.media-amazon.com/images/I/41pLhSHcuAL.jpg', 'locale': 'US', 'currency_symbol': '$'}
{'asin': 'B074R8RQQ2', 'product_name': 'Maxracy 2 Set Peeler Silicone Easy Roll Tube Useful Garlic Odorfree Kitchen Tool (Red,Blue)', 'current_price': 6.59, 'is_prime': True, 'image_url': 'https://m.media-amazon.com/images/I/41EtHJCNHiL.jpg', 'locale': 'US', 'currency_symbol': '$'}

In [7]:
asin=[]
product_name=[]
price=[]
for i in data:
    asin.append(i['asin'])
    product_name.append(i['product_name'])
    price.append(i['current_price'])

In [8]:
asin

['B0BLW25MB7', 'B088N8TF64', 'B005YQZ1KE', 'B074R8RQQ2']

In [9]:
price

[151.0, 144.15, 95.99, 6.59]

In [10]:
product_name

['Lenovo IdeaPad 1 14 Laptop, 14.0\\" HD Display, Intel Celeron N4020, 4GB RAM, 64GB Storage, Intel UHD Graphics 600, Win 11 in S Mode, Cloud Grey',
 'Apple iPhone SE (2nd Generation), 64GB, Red - Unlocked (Renewed)',
 'T-fal Initiatives Nonstick Cookware Set 18 Piece Oven Safe 350F Pots and Pans, Dishwasher Safe Black',
 'Maxracy 2 Set Peeler Silicone Easy Roll Tube Useful Garlic Odorfree Kitchen Tool (Red,Blue)']

### Convert above in data frame

In [11]:
dct={'asin':asin,
    'product_name':product_name,
    'price':price}

In [12]:
import pandas as pd
df=pd.DataFrame(dct)
df

         asin                                       product_name   price
0  B0BLW25MB7  Lenovo IdeaPad 1 14 Laptop, 14.0\" HD Display,...  151.00
1  B088N8TF64  Apple iPhone SE (2nd Generation), 64GB, Red - ...  144.15
2  B005YQZ1KE  T-fal Initiatives Nonstick Cookware Set 18 Pie...   95.99
3  B074R8RQQ2  Maxracy 2 Set Peeler Silicone Easy Roll Tube U...    6.59

### Stock API:Apple

In [13]:
import requests

url = "https://quotient.p.rapidapi.com/equity/daily"

querystring = {"symbol":"AAPL","from":"2020-01-01","to":"2023-12-01","adjust":"false"}

headers = {
	"X-RapidAPI-Key": "e1863bc0d5mshf04242d4c393a90p1ee066jsn714267894e89",
	"X-RapidAPI-Host": "quotient.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)

print(response.json())

[{'Date': '2023-12-01', 'Open': 190.33, 'High': 191.56, 'Low': 189.23, 'Close': 191.24, 'Volume': 45704800}, {'Date': '2023-11-30', 'Open': 189.84, 'High': 190.32, 'Low': 188.19, 'Close': 189.95, 'Volume': 48794300}, {'Date': '2023-11-29', 'Open': 190.9, 'High': 192.09, 'Low': 188.97, 'Close': 189.37, 'Volume': 43014200}, {'Date': '2023-11-28', 'Open': 189.78, 'High': 191.08, 'Low': 189.4, 'Close': 190.4, 'Volume': 38414700}, {'Date': '2023-11-27', 'Open': 189.92, 'High': 190.67, 'Low': 188.9, 'Close': 189.79, 'Volume': 40552600}, {'Date': '2023-11-24', 'Open': 190.87, 'High': 190.9, 'Low': 189.25, 'Close': 189.97, 'Volume': 24048300}, {'Date': '2023-11-22', 'Open': 191.49, 'High': 192.93, 'Low': 190.83, 'Close': 191.31, 'Volume': 39630000}, {'Date': '2023-11-21', 'Open': 191.41, 'High': 191.52, 'Low': 189.74, 'Close': 190.64, 'Volume': 38134400}, {'Date': '2023-11-20', 'Open': 189.89, 'High': 191.91, 'Low': 189.88, 'Close': 191.45, 'Volume': 46538600}, {'Date': '2023-11-17', 'Open': 190.25, 'High': 190.38, 'Low': 188.57, 'Close': 189.69, 'Volume': 50941400}, {'Date': '2023-11-16', 'Open': 189.57, 'High': 190.96, 'Low': 188.65, 'Close': 189.71, 'Volume': 54412900}, {'Date': '2023-11-15', 'Open': 187.85, 'High': 189.5, 'Low': 187.78, 'Close': 188.01, 'Volume': 53790500}, {'Date': '2023-11-14', 'Open': 187.7, 'High': 188.11, 'Low': 186.3, 'Close': 187.44, 'Volume': 60108300}, {'Date': '2023-11-13', 'Open': 185.82, 'High': 186.03, 'Low': 184.21, 'Close': 184.8, 'Volume': 43627500}, {'Date': '2023-11-10', 'Open': 183.97, 'High': 186.57, 'Low': 183.53, 'Close': 186.4, 'Volume': 66177900}, {'Date': '2023-11-09', 'Open': 182.96, 'High': 184.12, 'Low': 181.81, 'Close': 182.41, 'Volume': 53763500}, {'Date': '2023-11-08', 'Open': 182.35, 'High': 183.45, 'Low': 181.59, 'Close': 182.89, 'Volume': 49340200}, {'Date': '2023-11-07', 'Open': 179.18, 'High': 182.44, 'Low': 178.97, 'Close': 181.82, 'Volume': 70529900}, {'Date': '2023-11-06', 'Open': 176.38, 'High': 179.43, 'Low': 176.21, 'Close': 179.23, 'Volume': 63841300}, {'Date': '2023-11-03', 'Open': 174.24, 'High': 176.82, 'Low': 173.35, 'Close': 176.65, 'Volume': 79829200}, {'Date': '2023-11-02', 'Open': 175.52, 'High': 177.78, 'Low': 175.46, 'Close': 177.57, 'Volume': 77334700}, {'Date': '2023-11-01', 'Open': 171.0, 'High': 174.23, 'Low': 170.12, 'Close': 173.97, 'Volume': 56934900}, {'Date': '2023-10-31', 'Open': 169.35, 'High': 170.9, 'Low': 167.9, 'Close': 170.77, 'Volume': 44846000}, {'Date': '2023-10-30', 'Open': 169.02, 'High': 171.17, 'Low': 168.87, 'Close': 170.29, 'Volume': 51130900}, {'Date': '2023-10-27', 'Open': 166.91, 'High': 168.96, 'Low': 166.83, 'Close': 168.22, 'Volume': 58499100}, {'Date': '2023-10-26', 'Open': 170.37, 'High': 171.38, 'Low': 165.67, 'Close': 166.89, 'Volume': 70625200}, {'Date': '2023-10-25', 'Open': 171.88, 'High': 173.06, 'Low': 170.65, 'Close': 171.1, 'Volume': 57156900}, {'Date': '2023-10-24', 'Open': 173.05, 'High': 173.67, 'Low': 171.45, 'Close': 173.44, 'Volume': 43816600}, {'Date': '2023-10-23', 'Open': 170.91, 'High': 174.01, 'Low': 169.93, 'Close': 173.0, 'Volume': 55980100}, {'Date': '2023-10-20', 'Open': 175.31, 'High': 175.42, 'Low': 172.64, 'Close': 172.88, 'Volume': 64244000}, {'Date': '2023-10-19', 'Open': 176.04, 'High': 177.84, 'Low': 175.19, 'Close': 175.46, 'Volume': 59302800}, {'Date': '2023-10-18', 'Open': 175.58, 'High': 177.58, 'Low': 175.11, 'Close': 175.84, 'Volume': 54764300}, {'Date': '2023-10-17', 'Open': 176.65, 'High': 178.42, 'Low': 174.8, 'Close': 177.15, 'Volume': 57549300}, {'Date': '2023-10-16', 'Open': 176.75, 'High': 179.08, 'Low': 176.51, 'Close': 178.72, 'Volume': 52516900}, {'Date': '2023-10-13', 'Open': 181.42, 'High': 181.93, 'Low': 178.14, 'Close': 178.85, 'Volume': 51456000}, {'Date': '2023-10-12', 'Open': 180.07, 'High': 182.34, 'Low': 179.04, 'Close': 180.71, 'Volume': 56743100}, {'Date': '2023-10-11', 'Open': 178.2, 'High': 179.85, 'Low': 177.6, 'Close': 179.8, 'Volume': 47551100}, {'Date': '2023-10-10', 'Open': 178.1, 'High': 179.72, 'Low': 177.95, 'Close': 178.39, 'Volume': 43698000}, {'Date': '2023-10-09', 'Open': 176.81, 'High': 179.05, 'Low': 175.8, 'Close': 178.99, 'Volume': 42390700}, {'Date': '2023-10-06', 'Open': 173.8, 'High': 177.99, 'Low': 173.18, 'Close': 177.49, 'Volume': 57266600}, {'Date': '2023-10-05', 'Open': 173.79, 'High': 175.45, 'Low': 172.68, 'Close': 174.91, 'Volume': 48527900}, {'Date': '2023-10-04', 'Open': 171.09, 'High': 174.21, 'Low': 170.97, 'Close': 173.66, 'Volume': 53020200}, {'Date': '2023-10-03', 'Open': 172.26, 'High': 173.63, 'Low': 170.82, 'Close': 172.4, 'Volume': 49594600}, {'Date': '2023-10-02', 'Open': 171.22, 'High': 174.3, 'Low': 170.93, 'Close': 173.75, 'Volume': 52164500}, {'Date': '2023-09-29', 'Open': 172.02, 'High': 173.07, 'Low': 170.34, 'Close': 171.21, 'Volume': 51861000}, {'Date': '2023-09-28', 'Open': 169.34, 'High': 172.03, 'Low': 167.62, 'Close': 170.69, 'Volume': 56294400}, {'Date': '2023-09-27', 'Open': 172.62, 'High': 173.04, 'Low': 169.05, 'Close': 170.43, 'Volume': 66921800}, {'Date': '2023-09-26', 'Open': 174.82, 'High': 175.2, 'Low': 171.66, 'Close': 171.96, 'Volume': 64588900}, {'Date': '2023-09-25', 'Open': 174.2, 'High': 176.97, 'Low': 174.15, 'Close': 176.08, 'Volume': 46172700}, {'Date': '2023-09-22', 'Open': 174.67, 'High': 177.08, 'Low': 174.05, 'Close': 174.79, 'Volume': 56725300}, {'message': 'Upgrade your subscription to MEGA plan to get all remaining data and unlimited access.'}]

In [14]:
data2=response.json()
len(data2)

51

In [15]:
%pip install yfinance

Requirement already satisfied: yfinance in c:\deep learning\repository\venv\lib\site-packages (0.2.33)
Requirement already satisfied: pandas>=1.3.0 in c:\deep learning\repository\venv\lib\site-packages (from yfinance) (2.1.3)
Requirement already satisfied: numpy>=1.16.5 in c:\deep learning\repository\venv\lib\site-packages (from yfinance) (1.26.2)
Requirement already satisfied: requests>=2.31 in c:\deep learning\repository\venv\lib\site-packages (from yfinance) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in c:\deep learning\repository\venv\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in c:\deep learning\repository\venv\lib\site-packages (from yfinance) (4.9.4)
Requirement already satisfied: appdirs>=1.4.4 in c:\deep learning\repository\venv\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in c:\deep learning\repository\venv\lib\site-packages (from yfinance) (2023.3.post1)
Requirement already satisfied: frozendict>=2.3.4 in c:\deep learning\repository\venv\lib\site-packages (from yfinance) (2.3.10)
Requirement already satisfied: peewee>=3.16.2 in c:\deep learning\repository\venv\lib\site-packages (from yfinance) (3.17.0)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\deep learning\repository\venv\lib\site-packages (from yfinance) (4.12.2)
Requirement already satisfied: html5lib>=1.1 in c:\deep learning\repository\venv\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in c:\deep learning\repository\venv\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: six>=1.9 in c:\deep learning\repository\venv\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in c:\deep learning\repository\venv\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\deep learning\repository\venv\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in c:\deep learning\repository\venv\lib\site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\deep learning\repository\venv\lib\site-packages (from requests>=2.31->yfinance) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\deep learning\repository\venv\lib\site-packages (from requests>=2.31->yfinance) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\deep learning\repository\venv\lib\site-packages (from requests>=2.31->yfinance) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\deep learning\repository\venv\lib\site-packages (from requests>=2.31->yfinance) (2023.11.17)
Note: you may need to restart the kernel to use updated packages.

In [17]:
import yfinance as yf
df2=yf.download('AAPL',period='1y',interval='1d')
df2

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-12-21,132.979996,136.809998,132.750000,135.449997,134.697113,85928000
2022-12-22,134.350006,134.559998,130.300003,132.229996,131.494995,77852100
2022-12-23,130.919998,132.419998,129.639999,131.860001,131.127075,63814900
2022-12-27,131.380005,131.410004,128.720001,130.029999,129.307220,69007800
2022-12-28,129.669998,131.029999,125.870003,126.040001,125.339417,85438400
...,...,...,...,...,...,...
2023-12-14,198.020004,199.619995,196.160004,198.110001,198.110001,66831600
2023-12-15,197.529999,198.399994,197.000000,197.570007,197.570007,128256700
2023-12-18,196.089996,196.630005,194.389999,195.889999,195.889999,55751900
2023-12-19,196.160004,196.949997,195.889999,196.940002,196.940002,40714100
2023-12-20,196.899994,197.679993,194.830002,194.830002,194.830002,52194800

In [18]:
df3=yf.download('AAPL',period='5y',interval='1mo')
df3

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-01-01,38.722500,42.250000,35.500000,41.610001,39.937729,3312349600
2019-02-01,41.740002,43.967499,41.482498,43.287498,41.547817,1890162400
2019-03-01,43.570000,49.422501,42.375000,47.487499,45.774502,2603925600
2019-04-01,47.910000,52.119999,47.095001,50.167500,48.357819,2024470800
2019-05-01,52.470001,53.827499,43.747501,43.767502,42.188686,2957826400
2019-06-01,43.900002,50.392502,42.567501,49.480000,47.878792,2060874800
2019-07-01,50.792500,55.342499,49.602501,53.259998,51.536472,1895406800
2019-08-01,53.474998,54.507500,48.145000,52.185001,50.496262,2724326400
2019-09-01,51.607498,56.605000,51.055000,55.992500,54.386402,2170268400
2019-10-01,56.267502,62.437500,53.782501,62.189999,60.406128,2433210800
2019-11-01,62.384998,67.000000,62.290001,66.812500,64.896034,1793326000
2019-12-01,66.817497,73.492500,64.072502,73.412498,71.520821,2388794800
2020-01-01,74.059998,81.962502,73.187500,77.377502,75.383629,2934370400
2020-02-01,76.074997,81.805000,64.092499,68.339996,66.579018,3019279200
2020-03-01,70.570000,76.000000,53.152500,63.572498,62.081352,6280072400
2020-04-01,61.625000,73.632500,59.224998,73.449997,71.727173,3265299200
2020-05-01,71.562500,81.059998,71.462502,79.485001,77.620613,2805936000
2020-06-01,79.437500,93.095001,79.302498,91.199997,89.301895,3243375600
2020-07-01,91.279999,106.415001,89.144997,106.260002,104.048485,3020283200
2020-08-01,108.199997,131.000000,107.892502,129.039993,126.354378,4070061100
2020-09-01,132.759995,137.979996,103.099998,115.809998,113.604187,3885245100
2020-10-01,117.639999,125.389999,107.720001,108.860001,106.786560,2894666500
2020-11-01,109.110001,121.989998,107.320000,119.050003,116.782471,2123077300
2020-12-01,121.010002,138.789993,120.010002,132.690002,130.387222,2322189600
2021-01-01,133.520004,145.089996,126.379997,131.960007,129.669922,2240262000
2021-02-01,133.750000,137.880005,118.389999,121.260002,119.155594,1833855600
2021-03-01,123.750000,128.720001,116.209999,122.150002,120.209511,2650418200
2021-04-01,123.660004,137.070007,122.489998,131.460007,129.371643,1889857500
2021-05-01,132.039993,134.070007,122.250000,124.610001,122.630440,1711934900
2021-06-01,125.080002,137.410004,123.129997,136.960007,135.013199,1606590000
2021-07-01,136.600006,150.000000,135.759995,145.860001,143.786667,1919035100
2021-08-01,146.360001,153.490005,144.500000,151.830002,149.671799,1461542800
2021-09-01,152.830002,157.259995,141.270004,141.500000,139.697647,1797835100
2021-10-01,141.899994,153.169998,138.270004,149.800003,147.891937,1565079200
2021-11-01,148.990005,165.699997,147.479996,165.300003,163.194504,1691029000
2021-12-01,167.479996,182.130005,157.800003,177.570007,175.564072,2444766700
2022-01-01,177.830002,182.940002,154.699997,174.779999,172.805557,2108446000
2022-02-01,174.009995,176.649994,152.000000,165.119995,163.254684,1627516300
2022-03-01,164.699997,179.610001,150.100006,174.610001,172.857437,2180800100
2022-04-01,174.029999,178.490005,155.380005,157.649994,156.067642,1687795600
2022-05-01,156.710007,166.479996,132.610001,148.839996,147.346085,2401040300
2022-06-01,149.899994,151.740005,129.039993,136.720001,135.546616,1749099800
2022-07-01,136.039993,163.630005,135.660004,162.509995,161.115250,1447125400
2022-08-01,161.009995,176.149994,157.139999,157.220001,155.870667,1510239600
2022-09-01,156.639999,164.259995,138.000000,138.199997,137.204208,2084722800
2022-10-01,138.210007,157.500000,134.369995,153.339996,152.235123,1868139700
2022-11-01,155.080002,155.449997,134.380005,148.029999,146.963364,1724847700
2022-12-01,148.210007,150.919998,125.870003,129.929993,129.207794,1675731200
2023-01-01,130.279999,147.229996,124.169998,144.289993,143.487961,1443652500
2023-02-01,143.970001,157.380005,141.320007,147.410004,146.590622,1307198900
2023-03-01,146.830002,165.000000,143.899994,164.899994,164.233765,1520266600
2023-04-01,164.270004,169.850006,159.779999,169.679993,168.994476,969709700
2023-05-01,169.279999,179.350006,164.309998,177.250000,176.533875,1275155500
2023-06-01,177.699997,194.479996,176.929993,193.970001,193.453568,1297101100
2023-07-01,193.779999,198.229996,186.600006,196.449997,195.926956,996066400
2023-08-01,196.240005,196.729996,171.960007,187.869995,187.369797,1322439400
2023-09-01,189.490005,189.979996,167.619995,171.210007,170.984741,1337586600
2023-10-01,171.220001,182.339996,165.669998,170.770004,170.545319,1172719600
2023-11-01,171.000000,192.929993,170.119995,189.949997,189.700073,1099586100
2023-12-01,190.330002,199.619995,187.449997,194.830002,194.830002,876391791

In [19]:
df4=yf.download('AAPL',period='2y',interval='1wk')
df4

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-12-20,168.279999,176.850006,167.460007,176.279999,174.288620,359176900
2021-12-27,177.089996,181.330002,177.070007,177.570007,175.564072,340248100
2022-01-03,177.830002,182.940002,171.029999,172.169998,170.225067,481949000
2022-01-10,169.080002,177.179993,168.169998,173.070007,171.114868,422655700
2022-01-17,171.509995,172.539993,162.300003,162.410004,160.575287,400041100
...,...,...,...,...,...,...
2023-11-20,189.889999,192.929993,189.250000,189.970001,189.970001,148305600
2023-11-27,189.919998,192.089996,188.190002,191.240005,191.240005,216455900
2023-12-04,189.979996,195.990005,187.449997,195.710007,195.710007,251962600
2023-12-11,193.110001,199.619995,191.419998,197.570007,197.570007,379133100
2023-12-18,196.089996,197.679993,194.389999,194.830002,194.830002,199616791